body {
  background-color: goldenrod;
  padding: 1em;
  margin-bottom: 8px; 
  margin-top: 16px;
}

#beerList {
  display: flex;
  direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

